# Ignore configuration and environment files
credentials.env

# Ignore airflow and database configuration files
airflow.cfg
db_config.ini
snowflake_cred.ini

# Ignore all files in the .git folder
.git/