# Ignore configuration and environment files
*.env
credentials.env
*.ini

# Ignore airflow and database configuration files
airflow.cfg
db_config.ini
snowflake_cred.ini

# Ignore all files in the .git folder
.git/